// colors
$primary:       #516E41;
$secondary:     #315349;
$success:       #516E41;
$info:          #70915E;
$warning:       #75454F;
$danger:        #75454F;
$light:         #f8f9fa;
$dark:          #212529;

// font
$font-family-base:            system-ui, -apple-system, 'Noto Sans JP', "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial,sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
