<footer class="py-5 bg-primary text-white">
  <div class="container">
    <p>本サービスはGoogle Maps API を使用しています。<br>
      <%= link_to "Googleプライバシーポリシー", "https://policies.google.com/privacy?hl=ja", class: "footer-link" %><br>
      <%= link_to "Google利用規約", "https://policies.google.com/terms?hl=en", class: "footer-link" %>
    </p>
    <p class="mb-1">Contact Me: walkbreak.app@gmail.com</p>
    <p class="mb-0">©️ 2023 Kotree420</p>
  </div>
</footer>
